logFilesDrawChartWithModBusSinusodialAndStoreItInSqLite.txt
[{"id":"b28b12de.4ef58","type":"tab","label":"Ui Design Take Time Input","disabled":false,"info":""},{"id":"3b495621.61f2ca","type":"tab","label":"Insert Into Sqlite","disabled":false,"info":""},{"id":"3437a765.13e078","type":"tab","label":"ModBusFloatRead","disabled":false,"info":""},{"id":"51d7d463.23cc8c","type":"ui_tab","z":"","name":"Demo","icon":"dashboard","disabled":false,"hidden":false},{"id":"d3f826e5.1cf228","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6f26f3a4.b7d2ac","type":"ui_group","z":"","name":"Discrete","tab":"51d7d463.23cc8c","disp":true,"width":"6","collapse":false},{"id":"202ababa.c92226","type":"ui_group","z":"","name":"first","tab":"98b97a31.395278","disp":true,"width":"6","collapse":false},{"id":"a0fa8534.f68658","type":"ui_group","z":"","name":"second","tab":"98b97a31.395278","disp":true,"width":"6","collapse":false},{"id":"98b97a31.395278","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"cac1cbc9.3ab728","type":"ui_tab","z":"","name":"INPUT","icon":"dashboard","disabled":false,"hidden":false},{"id":"874b50aa.349ae","type":"ui_group","z":"","name":"first","tab":"f0693a48.1bdb68","disp":true,"width":"6","collapse":false},{"id":"53242293.a6020c","type":"ui_group","z":"","name":"second","tab":"f0693a48.1bdb68","disp":true,"width":"6","collapse":false},{"id":"f0693a48.1bdb68","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ae6ccb2d.ac9fa8","type":"ui_group","z":"","name":"Gauge","tab":"d86b3d97.26724","order":2,"disp":true,"width":"6"},{"id":"d86b3d97.26724","type":"ui_tab","z":"","name":"Restore","icon":"dashboard"},{"id":"a4285b25.a1fa88","type":"ui_group","z":"","name":"Default","tab":"637d453.303fabc","disp":true,"width":"20","collapse":false},{"id":"637d453.303fabc","type":"ui_tab","z":"","name":"graphic","icon":"dashboard","disabled":false,"hidden":false},{"id":"462da30e.c4851c","type":"ui_group","z":"","name":"Two dimension Array","tab":"b1612930.a49348","order":2,"disp":true,"width":"6","collapse":false},{"id":"6f6664c0.69f1fc","type":"ui_group","z":"","name":"Default","tab":"13f1799c.d8c4f6","disp":true,"width":"20","collapse":false},{"id":"b1612930.a49348","type":"ui_tab","z":"","name":"Table Examples","icon":"dashboard","order":1},{"id":"13f1799c.d8c4f6","type":"ui_tab","z":"","name":"graphic","icon":"dashboard","disabled":false,"hidden":false},{"id":"7bdb5a97.cef494","type":"ui_group","z":"","name":"Test","tab":"849ed9f4.c920f8","disp":true,"width":"6","collapse":false},{"id":"849ed9f4.c920f8","type":"ui_tab","z":"","name":"Home","icon":"home"},{"id":"bb28ef0b.28cdd","type":"ui_group","z":"","name":"End Time","tab":"cac1cbc9.3ab728","order":2,"disp":true,"width":"4","collapse":false},{"id":"1852ec52.ed6594","type":"ui_group","z":"","name":"Start Time","tab":"cac1cbc9.3ab728","order":1,"disp":true,"width":"4","collapse":false},{"id":"709460e5.74c82","type":"ui_group","z":"","name":"Graph","tab":"cac1cbc9.3ab728","order":5,"disp":true,"width":"23","collapse":false},{"id":"3b5fcd3d.36f352","type":"ui_group","z":"","name":"Two dimension Array","tab":"f5cb1b4d.395d98","order":2,"disp":true,"width":"6","collapse":false},{"id":"68036b9b.7e24a4","type":"ui_group","z":"","name":"Default","tab":"d3f11e9c.9e5","disp":true,"width":"20","collapse":false},{"id":"f5cb1b4d.395d98","type":"ui_tab","z":"","name":"Table Examples","icon":"dashboard","order":1},{"id":"d3f11e9c.9e5","type":"ui_tab","z":"","name":"graphic","icon":"dashboard","disabled":false,"hidden":false},{"id":"2a6f53cc.8346ec","type":"ui_group","z":"","name":"Time","tab":"cac1cbc9.3ab728","order":3,"disp":true,"width":"2","collapse":false},{"id":"ec416b33.532538","type":"ui_group","z":"","name":"InputData","tab":"cac1cbc9.3ab728","order":4,"disp":true,"width":"6","collapse":false},{"id":"6aa5d02b.63ab4","type":"sqlitedb","z":"","db":"db_001","mode":"RWC"},{"id":"b20f5277.51d6a","type":"sqlitedb","z":"","db":"db_002","mode":"RWC"},{"id":"46bfef09.5acce","type":"ui_tab","z":"","name":"SQL","icon":"dashboard","disabled":false,"hidden":false},{"id":"459513c3.f1448c","type":"ui_group","z":"","name":"SQL","tab":"46bfef09.5acce","disp":true,"width":"6","collapse":false},{"id":"bf175965.5fa2d8","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.2.250","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"0","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"6aa820b.f8028e","type":"function","z":"b28b12de.4ef58","name":"","func":"var around=msg.payload;\n\nvar flowTime=flow.get('flowSTime')||0;\n\n\nflow.set('flowSTime',msg.payload);\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":378.5,"y":370,"wires":[[]]},{"id":"6409ce26.28502","type":"ui_text_input","z":"b28b12de.4ef58","name":"","label":"","tooltip":"","group":"1852ec52.ed6594","order":2,"width":"4","height":"1","passthru":true,"mode":"time","delay":300,"topic":"","x":164,"y":289,"wires":[["f0e3e724.905098"]]},{"id":"f0e3e724.905098","type":"moment","z":"b28b12de.4ef58","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Istanbul/Turkey","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss","locale":"tr_TR","output":"payload","outputType":"msg","outTz":"Istanbul/Turkey","x":203,"y":359,"wires":[["6aa820b.f8028e"]]},{"id":"1c9cbb11.d113f5","type":"ui_text_input","z":"b28b12de.4ef58","name":"","label":"","tooltip":"","group":"bb28ef0b.28cdd","order":0,"width":"4","height":"1","passthru":true,"mode":"time","delay":300,"topic":"","x":173,"y":450,"wires":[["cd187c43.01941"]]},{"id":"cd187c43.01941","type":"moment","z":"b28b12de.4ef58","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Istanbul/Turkey","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss","locale":"tr_TR","output":"payload","outputType":"msg","outTz":"Istanbul/Turkey","x":372.5,"y":477,"wires":[["87b8a90b.e55368"]]},{"id":"87b8a90b.e55368","type":"function","z":"b28b12de.4ef58","name":"","func":"var around=msg.payload;\nvar flowTime=flow.get('flowETime')||0;\n\nflow.set('flowETime',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":563.5,"y":477,"wires":[[]]},{"id":"8a449fd6.2b986","type":"comment","z":"b28b12de.4ef58","name":"Getting start and end time for query.","info":"Getting start and end time for query.","x":387,"y":268,"wires":[]},{"id":"ce75130c.e7d95","type":"ui_date_picker","z":"b28b12de.4ef58","name":"","label":"date","group":"1852ec52.ed6594","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":153,"y":256,"wires":[["774a4c3a.db70a4"]]},{"id":"a4163750.6f4518","type":"ui_date_picker","z":"b28b12de.4ef58","name":"","label":"date","group":"bb28ef0b.28cdd","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":173.5,"y":418,"wires":[["1a6a2c91.58be93"]]},{"id":"774a4c3a.db70a4","type":"moment","z":"b28b12de.4ef58","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Istanbul","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY.MM.DD","locale":"tr_TR","output":"payload","outputType":"msg","outTz":"Europe/Istanbul","x":394,"y":313,"wires":[["2519dded.668482"]]},{"id":"2519dded.668482","type":"function","z":"b28b12de.4ef58","name":"","func":"var arr=[];\nvar flowTime=flow.get('flowSYTime')||0;\n\nflow.set('flowSYTime',msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":538,"y":378,"wires":[[]]},{"id":"1a6a2c91.58be93","type":"moment","z":"b28b12de.4ef58","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Istanbul","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY.MM.DD","locale":"tr_TR","output":"payload","outputType":"msg","outTz":"Europe/Istanbul","x":343.5,"y":431,"wires":[["4c8500e8.a1574"]]},{"id":"4c8500e8.a1574","type":"function","z":"b28b12de.4ef58","name":"","func":"\nvar flowTime=flow.get('flowEYTime')||0;\nflow.set('flowEYTime',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":544,"y":438,"wires":[[]]},{"id":"97ac1982.ee9108","type":"function","z":"b28b12de.4ef58","name":"","func":"var dates=flow.get('dates')||0;\nvar startDate=dates[0];\nvar endDate= dates[1];\nmsg.topic=\"SELECT * FROM logDB WHERE date>='\"+startDate+\"' and date<='\"+endDate+\"';\";\nreturn msg;","outputs":1,"noerr":0,"x":284.5,"y":56,"wires":[["f4acb25f.16e06"]]},{"id":"f4acb25f.16e06","type":"sqlite","z":"b28b12de.4ef58","mydb":"b20f5277.51d6a","sqlquery":"msg.topic","sql":"","name":"","x":484.5,"y":58,"wires":[["c7b685ee.2accd8"]]},{"id":"66b5cc0c.03f704","type":"function","z":"b28b12de.4ef58","name":"","func":"var startHour=flow.get('flowSTime')||0;\nvar startDay=flow.get('flowSYTime')||0;\nvar endHour=flow.get('flowETime')||0;\nvar endDay=flow.get('flowEYTime')||0;\nvar dates=flow.get('dates')||0;\nvar arr=[];\narr[0]=startDay+\" \"+startHour;\narr[1]=endDay+\" \"+endHour;\nflow.set('dates',arr);\ndates=arr;\nmsg.payload=dates;  \nreturn msg;","outputs":1,"noerr":0,"x":187.5,"y":139,"wires":[[]]},{"id":"a8a20e75.cdd05","type":"delay","z":"b28b12de.4ef58","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":173,"y":20,"wires":[["97ac1982.ee9108"]]},{"id":"c7b685ee.2accd8","type":"function","z":"b28b12de.4ef58","name":"","func":"var datas=msg.payload;\nvar i;\nvar sarr=[];\nvar arr=[\"1\",2];\nfor(i=0;i<datas.length;i++){\nvar time=datas[i].Date;\nvar times=time.split(\" \");\ntime=times[1];\nvar datatimes=times[1].split(\":\");\nvar datatime=\"\"+datatimes[0]+\":\"+datatimes[1];\nvar data=datas[i].Data\narr=[datatime,data]\nsarr[i]=arr;\n}\nmsg.topic=\"\";\nmsg.payload=sarr;\nreturn msg;","outputs":1,"noerr":0,"x":626,"y":46,"wires":[["ac113e45.f9dd4"]]},{"id":"ac113e45.f9dd4","type":"ui_template","z":"b28b12de.4ef58","group":"709460e5.74c82","name":"","order":0,"width":0,"height":0,"format":"<html>\n  <head>\n          <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n    <script type=\"text/javascript\">\n    var datas;\n    (function(scope) {\n            // watch msg object from Node-RED\n            scope.$watch('msg', function(msg) {\n                // new message received\n                datas = msg.payload;\n                });\n        })(scope);\n        \n        \n      google.charts.load('current', {'packages':['linechart']});\n      google.charts.setOnLoadCallback(drawChart);\n      function drawChart() {\n      var veri=datas;\n      \n      var data = new google.visualization.DataTable();\n      data.addColumn('string', 'Zaman');\n      data.addColumn('number', 'Deger');\n    var i; \nfor (i = 0; i < veri.length; i++) {\n    data.addRow(\n        veri[i]\n    );\n}\n      \n        \n        var options = {\n          title: 'CPU CLOCK FREQUENCY',\n          curveType: 'function',\n          legend: { position: 'right' }\n        \n            \n        };\n\n        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));\n\n        chart.draw(data, options);\n      }\n    </script>\n  </head>\n  <body>\n      <button onclick=\"drawChart()\">Click me</button>\n\n    <div id=\"curve_chart\" style=\"width: 900px; height: 500px\"></div>\n    <p id=\"count\"></p> \n  \n  </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":664,"y":98,"wires":[[]]},{"id":"f1fd629b.be6a1","type":"inject","z":"b28b12de.4ef58","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":111.5,"y":81,"wires":[["a8a20e75.cdd05","66b5cc0c.03f704"]]},{"id":"c0d277f5.2a47d8","type":"modbus-read","z":"3437a765.13e078","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"0","dataType":"HoldingRegister","adr":"0","quantity":"2","rate":"200","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"bf175965.5fa2d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":160.5,"y":129,"wires":[[],["83885a0e.a19298"]]},{"id":"dbc8b5e6.a05008","type":"function","z":"3437a765.13e078","name":"FloatConverter","func":"/* Converts from an number, string, buffer or array representing an IEEE-754 value\n * to a javascript float.\n * The following may be given in msg.payload:\n *      A string representing a number, which may be hex or binary\n *        examples, \"1735\"  \"0x02045789\"  0b01000000010010010000111111011011\n *      An integer value\n *      A four element array or buffer of 8 bit values, most significant byte first.\n*/ \n// first make a number from the given payload if necessary\nlet intValue;\nif (typeof msg.payload === \"number\") {\n    intValue = msg.payload;\n} else if (typeof msg.payload === \"string\") {\n    intValue = Number(msg.payload);\n} else if (msg.payload.length == 4) {\n    // four byte array or buffer\n    intValue = (((((msg.payload[0] << 8) + msg.payload[1]) << 8) + msg.payload[2]) << 8) + msg.payload[3];\n} else {\n    node.warn(\"Unrecognised payload type or length\");\n}\n\nmsg.payload = Int2Float32(intValue);\nreturn msg;\n\nfunction Int2Float32(bytes) {\n    var sign = (bytes & 0x80000000) ? -1 : 1;\n    var exponent = ((bytes >> 23) & 0xFF) - 127;\n    var significand = (bytes & ~(-1 << 23));\n\n    if (exponent == 128) \n        return sign * ((significand) ? Number.NaN : Number.POSITIVE_INFINITY);\n\n    if (exponent == -127) {\n        if (significand === 0) return sign * 0.0;\n        exponent = -126;\n        significand /= (1 << 22);\n    } else significand = (significand | (1 << 23)) / (1 << 23);\n\n    return sign * significand * Math.pow(2, exponent);\n}","outputs":1,"noerr":0,"x":422.5,"y":173,"wires":[["f1ae0785.8ce3f8","f709585a.4ff098"]]},{"id":"83885a0e.a19298","type":"function","z":"3437a765.13e078","name":"","func":"var datas=msg.payload;\nvar buf=datas.buffer;\nvar arr=[buf[2],buf[3],buf[0],buf[1]];\nmsg.payload=arr;\nreturn msg;","outputs":1,"noerr":0,"x":338.5,"y":65,"wires":[["dbc8b5e6.a05008"]]},{"id":"f1ae0785.8ce3f8","type":"debug","z":"3437a765.13e078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630.5,"y":189,"wires":[]},{"id":"f709585a.4ff098","type":"ui_chart","z":"3437a765.13e078","name":"","group":"202ababa.c92226","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1080","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":493.5,"y":281,"wires":[[]]},{"id":"2e698de0.a65eb2","type":"sqlite","z":"3b495621.61f2ca","mydb":"b20f5277.51d6a","sqlquery":"msg.topic","sql":"","name":"","x":621,"y":85,"wires":[[]]},{"id":"30f96773.56c3f8","type":"function","z":"3b495621.61f2ca","name":"","func":"var datas=msg.payload;\nvar sinus =datas[0];\nvar now=new Date();\nvar data=1500-(1500*sinus)\nvar yyyy=now.getFullYear();\nvar mm=now.getMonth()< 9 ? \"0\" + (now.getMonth()+1):(now.getMonth+1);\nvar dd=now.getDate()<10?\"0\"+now.getDate() : now.getDate();  \nvar hh=now.getHours()<10?\"0\"+now.getHours():+now.getHours();\nvar mmm=now.getMinutes() <10?\"0\" +now.getMinutes():now.getMinutes();\nvar ss=now.getSeconds()<10?\"0\"+now.getSeconds():now.getSeconds();\nvar timeFormat=yyyy+\".\"+mm+\".\"+dd+\" \"+hh+\":\"+mmm+\":\"+ss;\n\n\n\nmsg.topic=\n\"INSERT INTO logDB  (   Date,  data  ) VALUES(?,?)\";\n\nmsg.payload=[timeFormat,data];\n\nreturn msg;","outputs":1,"noerr":0,"x":400.5,"y":102,"wires":[["2e698de0.a65eb2"]]},{"id":"f7a349d2.6fb528","type":"modbus-read","z":"3b495621.61f2ca","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"0","dataType":"HoldingRegister","adr":"0","quantity":"2","rate":"1","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"bf175965.5fa2d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":193,"y":99,"wires":[["30f96773.56c3f8"],[]]}]